src/main/resources/xsd/world.xsd.xml

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!-- Actor Type -->
  <xsd:complexType name="ActorType">
    <xsd:attribute name="id" type="xsd:string" use="optional" />
    <xsd:attribute name="type" type="xsd:string" use="required" />
    <xsd:attribute name="x" type="xsd:decimal" use="required" />
    <xsd:attribute name="y" type="xsd:decimal" use="required" />
    <xsd:attribute name="z" type="xsd:decimal" use="required" />
    <xsd:attribute name="control" type="xsd:string" use="optional" />
  </xsd:complexType>

  <!-- ColorDef Type -->
  <xsd:complexType name="ColorDef">
    <xsd:attribute name="id" type="xsd:string" />
    <xsd:attribute name="red" type="xsd:integer" />
    <xsd:attribute name="green" type="xsd:integer" />
    <xsd:attribute name="blue" type="xsd:integer" />
  </xsd:complexType>

  <!-- Environment Type -->
  <xsd:complexType name="EnvironmentType">
    <xsd:attribute name="sky" type="xsd:string" />
    <xsd:attribute name="ground" type="xsd:string" />
  </xsd:complexType>

  <!-- ObjectDef Type -->
  <xsd:complexType name="ObjectDefType">
    <xsd:attribute name="id" type="xsd:string" />
    <xsd:attribute name="class" type="xsd:string" />
  </xsd:complexType>

  <!-- Player Type -->
  <xsd:complexType name="PlayerType">
    <xsd:attribute name="id" type="xsd:string" />
  </xsd:complexType>

  <!-- Scenary Type -->
  <xsd:complexType name="ScenaryType">
    <xsd:attribute name="id" type="xsd:string" use="optional" />
    <xsd:attribute name="type" type="xsd:string" use="required" />
    <xsd:attribute name="control" type="xsd:string" use="optional" />
    <xsd:attribute name="x" type="xsd:decimal" use="required" />
    <xsd:attribute name="y" type="xsd:decimal" use="required" />
    <xsd:attribute name="z" type="xsd:decimal" use="required" />
    <xsd:attribute name="rx" type="xsd:decimal" use="required" />
    <xsd:attribute name="ry" type="xsd:decimal" use="required" />
    <xsd:attribute name="rz" type="xsd:decimal" use="required" />
    <xsd:attribute name="width" type="xsd:decimal" use="required" />
    <xsd:attribute name="height" type="xsd:decimal" use="required" />
    <xsd:attribute name="depth" type="xsd:decimal" use="required" />
  </xsd:complexType>

  <!-- World Type -->
  <xsd:complexType name="WorldType">
    <xsd:sequence>
      <xsd:element name="actor" type="ActorType" minOccurs="1" maxOccurs="unbounded" />
      <xsd:element name="colorDef" type="ColorDefType" minOccurs="1" maxOccurs="unbounded" />
      <xsd:element name="environment" type="EnvironmentType" minOccurs="1" maxOccurs="unbounded" />
      <xsd:element name="objectDef" type="ObjectDefType" minOccurs="1" maxOccurs="unbounded" />
      <xsd:element name="player" type="PlayerType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="scenary" type="ScenaryType" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" use="required"  />
    <xsd:attribute name="minX" type="xsd:decimal" use="required" />
    <xsd:attribute name="minY" type="xsd:decimal" use="required" />
    <xsd:attribute name="size" type="xsd:decimal" use="required" />
    <xsd:attribute name="rows" type="xsd:integer" use="required" />
  </xsd:complexType>

  <!-- Root Element -->
  <xsd:element name="world" type="WorldType" />

</xsd:schema>
